.container {
    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 20px;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: white;
    margin-top: 100px;
}
body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dong-ho-huong-dan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
}

.dong-ho{
    background-color: mediumspringgreen;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.HD{
    background-color: whitesmoke;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 10px;

}

.gioi-han {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px;
    width: 385px;
    height: 290px;
    background-color: lightgray;
    gap: 5px;
    padding: 5px;
}

.huong-dan {
    display: grid;
    grid-template-columns: 25px 25px 25px;
    grid-template-rows: auto;
    gap: 3px;
}

.nut {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lich-su table tr {
    background-color: white;
}
.lich-su td{
    border: 1px solid gray;
    width: 200px;
}

.button-S{
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-start-end{
    border-radius: 5px;
    background-color: green;
    width: 100px;
    color: white;
}

.lich-su{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lich-su h3{
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
.bang-lich-su td{
    margin-top: 10px;
    background-color:lightgray;
    color: black;
    font-weight: bold;
}
.box:hover{
    transform: scale(1.1);
}